:root {
    --main-bg-color: #121212;
    --main-bg-color-500: #1e1e1e;
    --main-bg-color-300: #4c4c4c;
    --main-bg-color-100: #e5e5e5;
    --main-text-color: #ededed;
    --secondary-text-color: #121212;
    --primary-color: #00ffffde;
    --primary-color-700: #00ffff2e;
    --secondary-color: #324FFF;
    --secondary-color-700: #324dff5b;
    --font-family: 'Arial', sans-serif;
    --padding: 16px;
    --margin: 16px;
    --border-radius: 4px;
}

[data-theme='lit'] {
    --main-bg-color: #0b3434;
    --main-bg-color-500: #1c9c9c;
    --main-bg-color-300: #4c4c4c;
    --main-bg-color-100: #e5e5e5;
    --main-text-color: #ededed;
    --secondary-text-color: #0b3434;
    --primary-color: #b3dbdb;
    --primary-color-700: #00ffff2e;
    --secondary-color: #1fd5d5;
    --secondary-color-700: #00ffff41;
    --font-family: 'Arial', sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    color: var(--main-text-color);
    font-family: var(--font-family);
}

body {
    display: flex;
    flex-direction: column;
}

.centered {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.primary-card {
    background-color: var(--main-bg-color-500);
    flex: 1 1 20%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.9);
}

.secondary-card {
    background-color: var(--main-bg-color);
    color: var(--secondary-text-color);
    flex: 2 1 80%;
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 2rem;
    margin: var(--margin);
}

.timer {
    background-color: var(--secondary-color);
    color: var(--main-text-color);
    border: none;
    padding: var(--padding);
    margin: var(--margin);
    border-radius: var(--border-radius);
    font-family: var(--font-family);
    font-size: 1rem;
}

.toggle-button {
    background-color: var(--primary-color);
    color: var(--secondary-text-color);
    border: none;
    padding: var(--padding);
    margin: var(--margin);
    border-radius: var(--border-radius);
    font-family: var(--font-family);
    font-size: 1rem;
    cursor: pointer;
}

.game-button {
    background-color: var(--secondary-color);
    color: var(--main-text-color);
    border: none;
    padding: var(--padding);
    margin: var(--margin);
    border-radius: var(--border-radius);
    font-family: var(--font-family);
    font-size: 1rem;
    cursor: pointer;
}

.game-button:disabled {
    background-color: var(--secondary-color-700);
    color: var(--main-text-color);
    cursor: not-allowed;
}

.start-container {
    display: flex;
    flex-direction: row;
}

.products-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: var(--padding);
}

.lists-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: top;
}